.group-18,
.group-18 * {
  box-sizing: border-box;
}
.group-18 {
  width: 288px;
  height: 472px;
  position: relative;
}
.skill-tree {
  margin-top: -2.28px;
  border-style: solid;
  border-color: #005cc5;
  border-width: 2.28px 0 0 0;
  width: 472px;
  height: 0px;
  position: absolute;
  left: 9px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.frame-51 {
  display: flex;
  flex-direction: column;
  gap: 57px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 288px;
  position: absolute;
  left: 0px;
  top: 39px;
}
.frame-25 {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-3 {
  background: #005cc5;
  border-radius: 50%;
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  position: relative;
}
.figma {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.layer-1 {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.frame-27 {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.illustrator {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
._2993708-adobe-brand-brands-illustrator-logo-icon-1 {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.group {
  width: 91.67%;
  height: 91.67%;
  position: absolute;
  right: 4.17%;
  left: 4.17%;
  bottom: 4.17%;
  top: 4.17%;
  overflow: visible;
}
.frame-22 {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-1 {
  background: #005cc5;
  border-radius: 50%;
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  position: relative;
}
.html {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.frame {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.x-31-21-css-3 {
  height: auto;
  position: absolute;
  left: 2.97px;
  top: 1.02px;
  overflow: visible;
}
.frame-23 {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-2 {
  background: #005cc5;
  border-radius: 50%;
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  position: relative;
}
.css {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.layer-12 {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.group2 {
  width: 87.51%;
  height: 100%;
  position: absolute;
  right: 6.24%;
  left: 6.25%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.frame-24 {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.java-script {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.frame2 {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.x-31-87-js {
  height: auto;
  position: absolute;
  left: 1.63px;
  top: 1.63px;
  overflow: visible;
}
